{% extends 'page/base.html' %}
{% load static %}

{% block content %}

<div class="books">
    <div class="about">
        <h2>Witaj w ReadRate – miejscu stworzonym dla miłośników literatury! 📚✨</h2>

        <span>
            <h4>Nasza platforma to przestrzeń, gdzie możesz:</h4>
            <ul>
                <li>
                    ✅ Dodawać i oceniać książki 📖
                </li>
                <li>
                    ✅ Pisać recenzje i dzielić się opiniami ✍️
                </li>
                <li>
                    ✅ Odkrywać nowych autorów i ich dzieła 🔍
                </li>
                <li>
                    ✅ Tworzyć własne listy przeczytanych książek 📋
                </li>
            </ul>

            Bez względu na to, czy jesteś zapalonym czytelnikiem, krytykiem literackim czy po prostu szukasz inspiracji
            na
            kolejną lekturę – jesteśmy tu dla Ciebie! Dołącz do naszej społeczności i wspólnie twórzmy miejsce pełne
            pasji
            do książek.
        </span>

        <h4 class="about-something">📖 Czas zanurzyć się w świecie literatury!</h4>
    </div>
</div>

{% endblock %}