{% extends 'page/base.html' %}
{% load static %}

{% block content %}

<div class="books">
    <div class="about">
        <h2>Masz pytania, sugestie lub chcesz podzielić się swoją opinią? Chętnie Cię wysłuchamy! 📩</h2>

        <span>
            <h4>
                Jesteśmy otwarci na wszelkie propozycje dotyczące nowych funkcji, współpracy czy ulepszeń naszej
                platformy.
                Jeśli masz pomysł na to, jak możemy jeszcze bardziej uprzyjemnić świat książek, daj nam znać!
            </h4>

            <ul>
                <li>
                    📧 E-mail: mail@gmail.com
                </li>
                <li>
                    📍 Adres: adres
                </li>
                <li>
                    📱 Telefon: 000 000 000
                </li>
            </ul>
        </span>

        <h4 class="about-something">Zapraszamy do kontaktu i wspólnego budowania społeczności miłośników książek!</h4>
    </div>
</div>

{% endblock %}